body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: black
    background-size: 400% 400%;
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite;
}

gradientMove {
    0% { background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}

}

.container {
color : white;
background-color : black;
display: flex;
align-items: center;
justify-content: space-between;
padding: 50px;
}

.text-box {
max-width: 50%;
}

.text-box h1 {
font-size: 36px;
margin-bottom: 10px;
color: white
}

.text-box h2 {
font-size: 24px;
color: white
}

.highlight {
color: #e91e63;
}

.text-box p {
font-size: 16px;
margin-top: 20px;
color: pink
}

.buttons {
margin-top: 20px;
}

.btn {
padding: 10px 20px;
margin-right: 10px;
border-radius: 5px;
text-decoration: none;
font-weight: bold;
}

.btn.pink {
background-color: #e91e63;
color: white;
}

.btn.outline {
border: 2px solid #e91e63;
color: #e91e63;
background: none;
}

.socials {
margin-top: 30px;
}

.socials img {
width: 30px;
margin-right: 10px;
}

.image-box img {
max-width: 400px;
height: auto;
}
